---
layout: base
title: Nonbreakingspace – Front End Development & Interaction Design
---
<h1>Front End Development &amp; Interaction Design Specialists</h1>
<p>
  <strong>Nonbreakingspace</strong> is a Manchester based digital studio with a
  passion for User Interface Development and Interaction Design.
</p>
