---
import './index.css';
import Approach from '../components/Approach';
import Capabilities from '../components/Capabilities';
import Contact from '../components/Contact';
import Header from '../components/Header';
import Hero from '../components/Hero';
import Statement from '../components/Statement';
import TrustedBy from '../components/TrustedBy';
import BaseLayout from '../layouts/BaseLayout';
---

<BaseLayout>
  <Header />
  <main id="index" tabindex="-1">
    <Hero />
    <Statement />
    <Capabilities />
    <Approach />
    <TrustedBy />
    <Contact />
  </main>
</BaseLayout>
